body {
	background-color: #f5f5f5;
	margin-bottom: 120px;
	/* padding: 10px; */
	font-family: "Golos Text", sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.shadow {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
